.container{
    background-color: #1f1f1f;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;
    height: 85vh;
    margin: auto;
    overflow-y: scroll;
    position: relative;
    border: 3px solid black;
}
.container a{
    text-decoration: none;
    color: white;
}
.container a:hover{
    color: yellow;
}
.personagem{
    max-width:145px;
    max-height:200px;
    border: 1px solid grey;
    text-align: center;
    margin: 5px;
    background-color: #0a0a0a;
}
.personagem h5{
    margin: 0;
    padding: 5px;
}
.personagem img{
    height: 80%;
    max-width: 145px;
    object-fit: fill;
}
.container #pesquisa{
    position:fixed;
    left:19vw;
    top: 6vh;
    width: 150px !important;
    max-height: 30px !important;
}
.container .options{
    width: 100px;
    height: 20px;
}